<div class="container" th:fragment="header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="https://cdn.iconscout.com/icon/free/png-256/free-calculator-1859951-1575939.png"
                     alt="logo" class="bi me-2" width="40" height="40"/>
                <span class="fs-4 custom-font" th:text="${title}"/>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/user" class="nav-link px-2">Users</a></li>
            <li><a href="/tag" class="nav-link px-2">Tags</a></li>
            <li><a href="/date" class="nav-link px-2">Dates</a></li>
            <li><a href="/about" class="nav-link px-2">About</a></li>
        </ul>

        <div class="container-buttons">
            <form action="/user/add" method="get">
                <button type="submit" class="btn btn-primary">Add user</button>
            </form>
            <form action="/date/add" method="get">
                <button type="submit" class="btn btn-primary">Add date</button>
            </form>
            <form action="/tag/add" method="get">
                <button type="submit" class="btn btn-primary">Add tag</button>
            </form>
        </div>
    </header>
</div>